<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidEnglishReadingTimer">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.minhalreads.androidenglishreadingtimer.views.Goodbye"
            android:exported="false"/>
        <activity
            android:name="com.minhalreads.androidenglishreadingtimer.views.About"
            android:exported="false"/>
        <activity
            android:name="com.minhalreads.androidenglishreadingtimer.views.Welcome"
            android:exported="false"/>
        <activity
            android:name="com.minhalreads.androidenglishreadingtimer.views.Splash"
            android:exported="true">
            <intent-filter android:exported="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:name="com.minhalreads.androidenglishreadingtimer.views.Score"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name="com.minhalreads.androidenglishreadingtimer.views.Goals"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name="com.minhalreads.androidenglishreadingtimer.views.History"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name="com.minhalreads.androidenglishreadingtimer.views.Timer"
            android:screenOrientation="portrait" />
    </application>
</manifest>
